#name
  %h1 AM ZICK

#arrow

#landing.page
  .info
    %h3.desc
      Post-Production
    %br
    %h3.desc
      Production
    %br
    %h3.desc
      Sound

#navigation-bar-container
  #navigation-bar
    #navigation-buffer
    #navigation-list
      %ul
        // in reverse order b/c the float: right CSS rule flips them
        %li#contact_button.not_current
          %a{ :href=>"\#contact" } CONTACT
        %li#blog_button.not_current
          %a{ :href=>"\#blog" } BLOG
        %li#gear_button.not_current
          %a{ :href=>"\#gear" } GEAR
        %li#work_button.not_current
          %a{ :href=>"\#work" } WORK
        %li#about_button.not_current
          %a{ :href=>"\#about" } ABOUT

#about.page
  .body
    %p= @fields_map[ :about ][ 0 ].body
  .reel
    - vimeo_id = @fields_map[ :about ][ 1 ].body
    %iframe{ :src=>"//player.vimeo.com/video/#{vimeo_id}", :width=>"800", :height=>"450", :frameborder=>"0" }

#work.page
  / %h1 Work
  .body
    %table
      %tr
        - @fields_map[ :work ].each do | i |
          %td
            %a= i.name
      / %div{ :class=>"#{ i.name }.view" }
      /   %p= i.body

#gear.page
  / %h1 Gear
  .body
    %p= @fields_map[ :gear ][ 0 ].body

#blog.page
  / %h1 Blog
  .body
    .blog_post
      .blog_post_header
        %h2= @latest_post["title"]
      .blog_post_body
        // - body = @latest_post["body"]
        // - body = @latest_post["content"]
        // - puts "\n\nBody:\n\n#{body}\n\n"
        // %p= body[0..1000].gsub(/\s\w+\s*$/, '...</p>')
      .blog_post_footer
        %p= @latest_post["date"]
  .see-all
    %a{ :href => "/blog" } See all posts...

#contact.page
  / %h1 Contact
  .body
    %p= @fields_map[ :contact ][ 0 ].body

%a{ :href => "/edit" } Edit page


