#name
  %h1 AM ZICK

#arrow
  %img{ :src => "/images/downArrow.png" }

#landing.page
  .info
    %h3.desc
      Sound and Music
    %br
    %h3.desc
      for Visual Media

#about.page
  #navigation-bar-container
    #navigation-bar
      #navigation-buffer
      #navigation-list
        %ul
          // in reverse order b/c the float: right CSS rule flips them
          %li#contact_button.not_current
            %a{ :href=>"\#contact" } CONTACT
          %li#blog_button.not_current
            %a{ :href=>"\#blog" } BLOG
          %li#gear_button.not_current
            %a{ :href=>"\#gear" } GEAR
          %li#work_button.not_current
            %a{ :href=>"\#work" } WORK
          %li#about_button.not_current
            %a{ :href=>"\#about" } ABOUT
  .body
    .aboutHolder
      %p= @fields_map[ :about ][ 0 ].body
    .reel
      - vimeo_id = @fields_map[ :about ][ 1 ].body
      %iframe{ :src=>"//player.vimeo.com/video/#{vimeo_id}", :width=>"800", :height=>"450", :frameborder=>"0" }
    .cleardiv

#work.page
  .body
    / %ul
    /   %li{ work_item_category: "Sound - Film and Animation" } Sound - Film and Animation
    /   %li{ work_item_category: "Sound - Advertising and Commercial" } Sound - Advertising and Commercial
    /   %li{ work_item_category: "Sound - Video Games" } Sound - Video Games
    /   %li{ work_item_category: "Sound - Theater" } Sound - Theater
    /   %li{ work_item_category: "Music - Selected Concert and Electronic Works" } Music - Selected Concert and Electronic Works
    /   %li{ work_item_category: "Music - Scores" } Music - Scores
    /   %li{ work_item_category: "Music - Commercial Work" } Music - Commercial Work

    %table#work-page-nav
      %tr
        %td{ category: "Production Sound" } Production Sound
        %td{ category: "Post-Production Sound" } Post-Production Sound
        %td{ category: "Music" } Music

    / = haml :"work_items/index"
    %table#work-item= @fields_map[ :work ][ 0 ].body

    .work-page-footer
      %a{ :href => "/zick_cv.pdf" } See full CV

#gear.page
  .body
    %p= @fields_map[ :gear ][ 0 ].body

#blog.page
  .body
    .blog_post
      .blog_post_header
        - if(@latest_post["title"])
          %h2= @latest_post["title"].upcase
          %p#date= Time.parse( @latest_post["date"] ).strftime("%B %e, %Y")
      .blog_post_body
        - body = @latest_post["body"]
        - puts body
        %p= body[0..1000].gsub(/\s\w+\s*$/, '...</p>')
    #see-all
      %a{ :href => "//aaronmicahzick.tumblr.com/" } Continue reading...

#contact.page
  .body
    %p= @fields_map[ :contact ][ 0 ].body



