#name
  %h1 AM ZICK

#arrow
  %img{ :src => "/images/downArrow.png" }

#landing.page
  .info
    %h3.desc
      Sound and Music
    %br
    %h3.desc
      for Visual Media

#about.page
  #navigation-bar-container
    #navigation-bar
      #navigation-buffer
      #navigation-list
        %ul
          // in reverse order b/c the float: right CSS rule flips them
          %li#contact_button.not_current
            %a{ :href=>"" }
              %span CONTACT
          %li#blog_button.not_current
            %a{ :href=>"" }
              %span BLOG
          %li#gear_button.not_current
            %a{ :href=>"" }
              %span GEAR
          %li#work_button.not_current
            %a{ :href=>"" }
              %span WORK
          %li#about_button.not_current
            %a{ :href=>"" }
              %span ABOUT
  .body
    .aboutHolder
      %p= @fields_map[ :about ][ 0 ].body
    .reel
      - vimeo_id = @fields_map[ :about ][ 1 ].body
      %iframe{ :src=>"//player.vimeo.com/video/#{vimeo_id}", :width=>"800", :height=>"450", :frameborder=>"0" }
    .cleardiv

#work.page
  .body
    %table#work-page-nav
      %tr
        %td.work-page-button.not_current{ category: "production-sound" }
          %span PRODUCTION SOUND
        %td.work-page-button.not_current{ category: "post-production-sound" }
          %span POST-PRODUCTION SOUND
        %td.work-page-button.not_current{ category: "music" }
          %span MUSIC
        %td.work-page-button.current{ category: "all" }
          %span ALL

    .table-wrapper
      %table#work-list= @fields_map[ :work ][ 0 ].body

    .work-page-footer
      %a{ :href => "/zick_cv.pdf" } See full CV

#gear.page
  .body
    .list= @fields_map[ :gear ][ 0 ].body

#blog.page
  .body
    .img-wrapper
      %img{ src: "https://#{@img_url}", width: "820", height: "300" }

    .blog_post
      - if @latest_post
        %h3.blog_post_title= @latest_post["title"].upcase + ", " + Time.parse( @latest_post["date"] ).strftime("%B %e, %Y").upcase

        - body = @latest_post["body"]
        .blog_post_body
          = if body then body[0..100].gsub(/\s\w+\s*$/, '...</p>') end
    #see-all
      %a{ :href => "//aaronmicahzick.tumblr.com/" } continue reading...

#contact.page
  .body
    %p= @fields_map[ :contact ][ 0 ].body



