// %link{ :rel => 'stylesheet', :type => 'text/css', :href => url("/main_style.css")}

#navigation-bar
  %ul
    %li
      %a{ :href=>"\#about" } About
    %li
      %a{ :href=>"\#work" } Work
    %li
      %a{ :href=>"\#gear" } Gear
    %li
      %a{ :href=>"/blog" } Blog
    %li
      %a{ :href=>"/edit" } Edit

#landing.page
  .info
    %h1 AM ZICK
    %br
    %h3.desc
      Post-Production
    %br
    %h3.desc
      Production
    %br
    %h3.desc
      Sound

#about.page
  %h1 About
  .body
    %p= @fields_map[ :about ][ 0 ].body
  .reel
    - vimeo_id = @fields_map[ :about ][ 1 ].body
    %iframe{ :src=>"//player.vimeo.com/video/#{vimeo_id}", :width=>"800", :height=>"450", :frameborder=>"0" }

#work.page
  %h1 Work
  .body
    - @fields_map[ :work ].each do | i |
      %h4= i.name
      %div{ :class=>"#{ i.name }.view" }
        %p= i.body

#gear.page
  %h1 Gear
  .body
    %p= @fields_map[ :gear ][ 0 ].body

#blog.page
  %h1 Blog
  .body
    .blog_post
      .blog_post_header
        %h2= @latest_post["title"]
      .blog_post_body
        // - body = @latest_post["body"]
        // - body = @latest_post["content"]
        // - puts "\n\nBody:\n\n#{body}\n\n"
        // %p= body[0..1000].gsub(/\s\w+\s*$/, '...</p>')
      .blog_post_footer
        %p= @latest_post["date"]

#contact.page
  %h1 Contact
  .body
    %p= @fields_map[ :contact ][ 0 ].body


