.work-items-edit-page
  %h2 Work Items Edit Page 
  %br
  %a{ :href=>"/" } Home
  %br
  %a{ :href=>"/edit" } Edit
  %br
  %br
  %p To update an older work item, click an on the text, make your changes, and hit ESC to save.
  %br
  %br

  %form{ :action => "/workitems/edit", :method => "post"}
    %table
      %tr
        %td
          %select{ name: "work_item[category]", value: "Category" }
            %option{ value: "Sound - Film and Animation" } Sound - Film and Animation
            %option{ value: "Sound - Advertising and Commercial" } Sound - Advertising and Commercial
            %option{ value: "Sound - Video Games" } Sound - Video Games
            %option{ value: "Sound - Theater" } Sound - Theater
            %option{ value: "Music - Selected Concert and Electronic Works" } Music - Selected Concert and Electronic Works
            %option{ value: "Music - Scores" } Music - Scores
            %option{ value: "Music - Commercial Work" } Music - Commercial Work
        %td
          %input{ type: "text", name: "work_item[title]", value: "Title" }
        %td
          %input{ type: "text", name: "work_item[date]", value: "Date" }
        %td
          %input{ type: "text", name: "work_item[role]", value: "Role" }
        %td
          %input{ type: "text", name: "work_item[link]", value: "Embed Link" }
        %td
          %input{:type => "submit", :value => "Save", :class => "button"}
      - @work_items.order( "created_at DESC" ).each do |w|
        %tr.past-work-item{ work_item_id: "#{ w.id }" }
          %td.category= w.category
          %td.title= w.title
          %td.date= w.date
          %td.role= w.role
          %td.link= w.link
          %td
            %span.x-button &#10006;